
.app_menu{
    list-style: none;
    padding: 0;
    margin: 0;
    border-radius: 2px;
    position: relative;
    color: white;
  }

  .app_setting{
    padding: 0;
    margin:0;
    position: relative;
    top:180px;
    color: white;
  }

  .app_setting:hover{

        color: rgb(92, 10, 78);
  }



 
  .app_menu > i {

    float: left;
    font-size:22px;
    margin: 0 10px 0 0;
    color: white;
   
  }
 
  
  .app_menu > span {
    display: block;
    font-weight: 600;
    font-size:22px;
    margin-left: 50px;
   
}


.offcan_nav{
   /* background-color:rgb(28, 71, 209);*/
   background-color:rgb(183, 196, 12);
    font-weight: 600;
    font-size:22px;    
    border-radius:8px;
    width:340px;
    opacity:0.95;

}

.icon_back{

   /* background-color:rgb(12, 60, 204);*/
     background-color:rgb(157, 167, 20);
     width:22%;
     height:100%;
     position: absolute;
     border-bottom-left-radius: 8px;
     border-top-left-radius: 8px;

    
     
    
     
}





.dropdown-toggle{

    color: white;
}

.dropdown-toggle:hover{

   color: rgb(92, 10, 78);
}



.app_menu:hover >  span{

    color: rgb(92, 10, 78);
}









 
  .app_menu > small {
    display: block;
    font-size: 10px;
  }

  
.app_menu > i , .app_menu >  span , .app_menu>.drop-menu{
    position: relative;
    transition: all 300ms linear;
}

.app_menu:hover > i{
    opacity: 1;
    animation: moveFromTop 300ms ease-in-out; 
}

.app_menu:focus >  span {
    opacity: 1;
    animation: moveFromLeft 300ms ease-in-out;
}

.app_menu:focus >  .drop-menu {
    opacity: 1;
    animation: moveFromLeft 300ms ease-in-out;
}




/* == */



@keyframes moveFromTop {
    from {
        opacity: 0;
        transform: translateY(200%);
    }
    to {
        opacity: 1;
        transform: translateY(0%);
    }
}
@keyframes moveFromLeft {
    from {
        opacity: 0;
        transform: translateX(200%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}
@keyframes moveFromRight {
    from {
        opacity: 0;
        transform: translateX(-200%);
    }
    to {
        opacity: 1;
        transform: translateX(0%);
    }
}

