.account {
  margin-right: 50px;
}

.menu{
  font-weight: 600;
}

.menu:hover{

   background-color: rgb(223, 230, 130);
}




.cart-Icon {
  background-color: white;
}

.card-badge {
  position: relative;
  top: -13px;
  left: -6px;
}

.navBar_form {
  width: 28rem;
}

.off_body {
  font-size: 22px;
  margin-left: 20px;
}

.img_logo{

  width:32px;
  height:32px;
  margin:5px -15px 0px 10px;
    
}



@media (max-width: 1010px) {
  .navBar_form {
    width: 18rem;
  }

  .img_logo{

    display: none;
      
  }
  
}

@media (max-width: 767px) {
  .nav_bar {
    display: none;
  }

  .navBar_form {
    width: 343px;
    height: 40px;
  }
}
