/*=======================Class Test ======================*/

.ClassTest{

    border:5px double black;
    width: 59%;
    position: relative;
    left:10%;
    top: 10px;
    padding:20px;
    font-size: 14px;
    background-color: antiquewhite;
    line-height: 27px;
}


/*========================== Pre-Mid ====================*/

.PreMid{

    border:5px double black;
    width: 59%;
    position: relative;
    left:10%;
    top: 10px;
    padding:20px;
    font-size: 14px;
    background-color: antiquewhite;
}

/*================Paper heading name ===============*/

.paper_name_heading{

    text-align: center;
    font-size: 14px;
}



/*========== =============== Download Button =================================*/

.download_btn{

    position: relative;
    left: 35%;
    top: 6px;
    border-radius: 8px;
    border: none;
    padding: 2px 10px;
    font-size: medium;
    font-weight: bolder;
    color: brown;
    background-color: lightskyblue;
}


/*==============  marks_class_intro ===============*/

.marks_class_intro{

     text-align: right;
}

/*==============  sub_time_intro ===============*/

.sub_time_intro{
    display: flex;
    justify-content: space-between;
}

/*==============  multiple_choice ===============*/

.multiple_choice{

    margin-top: 10px;

}

/*==============  Section ===============*/

.Section{
    font-size: 16px;
    text-align: center;
    font-weight: bold;
    text-decoration-line: underline;
    margin-top: 10px;
}

/*===================  multi_ques ========================*/

.multi_ques{
    display: flex;
    justify-content: space-between;
}

/*===================  multi_ques > div ========================*/

.multi_ques>div{  
    font-weight: bold;
}




/*===================  media query ========================*/


@media (max-width:600px) {

    .ClassTest{
 
        width:95%;
        position: relative;
        left:2%;
        top:10px;
        padding:5px;
        font-size:14px;
    }

    .PreMid{
 
        width:95%;
        position: relative;
        left:2%;
        top:10px;
        padding:5px;
        font-size:14px;
    }
    

    .Section{
        font-size: 14px;
   
    }
    
}