.Chapter1_div{
    border:5px double black;
    width: 59%;
    position: relative;
    left:10%;
    top: 10px;
    padding:20px;
    font-size: 14px;
}

.Chapter1_div > .head_1{
       text-align: center;
       color: rgb(8, 87, 87);
}

.Ch1_head_ques{
      font-weight:bold;
      font-size: 18px;
}

.ch1_mul_question{
     margin-left: 30px;
     margin-top: 8px;
}

.ch1_mul_question > :first-child{

      font-size: 16px;
}

.ch1_mul_question > :nth-child(2){
    font-size: 16px;
    margin-left: 18px;
    
}

.ch1_mul_question > .ch1_option>span{
       display: flex;  
}

.ch1_mul_question > .ch1_option>span>.b{
    margin-left:30%;
}
.ch1_mul_question > .ch1_option>span>.d{
    margin-left:24.3%;
    
}


@media (max-width:600px) {

    .Chapter1_div{
        width:96%;
        position: relative;
        left:2%;
        top: 10px;
    }
    
    .ch1_mul_question > :nth-child(2){
        font-size: 18px;        
    }
}