/*.Register{

    font-family: Arial, Helvetica, sans-serif;
    position: absolute;
    top:15%;
    left:25%;
    display: block;
    
}

.Register >input{

    display: block;
    margin-top:16%;
    margin-bottom: 20px;
    margin-left:18%;
    outline: none;
    border: 1px solid skyblue;
    padding:8px;
    font-size: 13px;
    width: 200%;
    font-weight: bold;
}

.Register >input:focus{
    border: 2px solid rgb(19, 128, 172);
}

.reg_btn{

    background-color: skyblue;
    color: black;
    padding:6px 25px;
    cursor: pointer;
    border: 1px solid black;
    outline: none;
    margin-left:18%;
    margin-top: 30px;
    
}

.reg_btn:hover{

    background-color: rgb(229, 232, 233);
    color: rgb(9, 108, 138);
    border: 2px solid skyblue;
}



@media(max-width:520px) {

    .myInput{

        width:250px
    }
        
}
*/

.background-radial-gradient {
  background-color: hsl(218, 41%, 15%);
  background-image: radial-gradient(
      650px circle at 0% 0%,
      hsl(218, 41%, 35%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    ),
    radial-gradient(
      1250px circle at 100% 100%,
      hsl(218, 41%, 45%) 15%,
      hsl(218, 41%, 30%) 35%,
      hsl(218, 41%, 20%) 75%,
      hsl(218, 41%, 19%) 80%,
      transparent 100%
    );
}

#radius-shape-1 {
  height: 220px;
  width: 220px;
  top: -60px;
  left: -130px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

#radius-shape-2 {
  border-radius: 38% 62% 63% 37% / 70% 33% 67% 30%;
  bottom: -60px;
  right: -110px;
  width: 300px;
  height: 300px;
  background: radial-gradient(#44006b, #ad1fff);
  overflow: hidden;
}

.bg-glass {
  background-color: hsla(0, 0%, 100%, 0.9) !important;
  backdrop-filter: saturate(200%) blur(25px);
}

.form_div {
  margin-top: -50px;
  width: 150%;
}


.card-body >h2{

     color: #8424bb;

}




@media (max-width: 991px) {
  .form_div {
    margin-top: -50px;
    width: 100%;
  }

  .form_div > img {
    display: none;
  }
}
